<div class="history-section-content">
  <div class="history-section-header">
    <h2 class="history-section-header-title">historia</h2>
  </div>

  <div class="main-section-content">
    <div class="layout">
      <div class="history-section-content-subtitle-wrapper">
        <h4 class="history-section-content-subtitle">El arte de pintar</h4>
        <div class="history-section-content-logo"></div>
      </div>
      <div class="history-section-text">
        <p>
          Transcurría el año 1947 cuando el Dr. en Química Rodolfo A. Gentile junto a un grupo de colegas, todos ellos técnicos vinculados a la industria pinturera, decidió conformar una nueva empresa del rubro, a la que denominaron “CIBEL S.R.L.”.
        </p>
        <p>
          El nombre elegido surge de las iniciales que corresponden a “Compañía Industrial de Barnices, Esmaltes y Lacas”. La actual localidad Ciudad Madero, fue el lugar elegido para instalar la fábrica junto a los laboratorios y oficinas, en un predio de 6000 m2; lugar donde hoy continúan sus actividades.
        </p>
        <p>
          La investigación y la innovación tecnológica fue un principio fundacional en la empresa, que hoy continúa firmemente vigente. CIBEL tiene una larga trayectoria  formando parte del Comité de Pinturas de IRAM, participando así en la formación de las normas y últimos desarrollos tecnológicos del sector. A su vez, el trabajo en equipo con diversas Asociaciones Profesionales,  Organizaciones y Empresas de aplicación de pintura, junto con la participación en Congresos; ha hecho posible desarrollar productos novedosos para satisfacer las necesidades de nuestros clientes a lo largo de todo este  tiempo.
        </p>
        <p>
          Las primeras cuatro décadas de CIBEL transcurrieron con una marcada orientación hacia el mercado Industrial, fabricando productos tales como: Pinturas navales, Pinturas para aviación, Epoxis para industrias alimenticias y petroleras, Retardantes de fuego, Lacas y Masillas a la piroxilina para automotores, Barnices aislantes, Pinturas para demarcación para aplicación en frio o caliente; y Látex, Esmaltes y Barnices para uso Arquitectónico.
        </p>
        <p>
          También, desde sus orígenes CIBEL brindó, y lo sigue haciendo activamente, servicio de  producción a “Fazon”  para terceros fabricantes y comerciantes.
        </p>
        <p>
          Durante la década del noventa, aprovechando toda la experiencia y el conocimiento adquirido, CIBEL renueva el enfoque del negocio, y decide entrar en el mercado de pinturas de aplicación en Hogar y Obra. De esta manera desarrolla una línea completa de productos para atender este mercado. Inclusive, se incorpora un sistema tintométrico, instalando varias máquinas en diversos comercios, a lo largo y ancho del país. Logra así conformar una de las más completas líneas de pinturas para Hogar y Obra disponible en el mercado argentino.
        </p>
        <p>
          Actualmente la línea de pinturas CIBEL se vende en  pinturerías, ferreterías, corralones y grandes superficies, llegando a estos canales de distribución en forma directa, siendo visitados por nuestros representantes comerciales que cubren casi todo el país. Hijos y nietos del fundador, todos profesionales, siguen adelante con este proyecto de casi 70 años de plena vigencia.
        </p>
      </div>

      <div class="history-section-image-wrapper">
        <div class="history-section-image"></div>
        <div class="history-section-image"></div>
        <div class="history-section-image"></div>
      </div>
    </div>
  </div>
</div>
