<div class="social-section-content">
  <div class="main-section-header">
    <div class="layout">
      <h2 class="social-section-header-title">Resposabilidad Social</h2>
      <div class="social-section-header-pots-image"></div>
    </div>
  </div>

  <div class="main-section-content">
    <div class="layout">
      <div class="social-section-content-subtitle-wrapper">
        <h4 class="social-section-content-subtitle">Al servicio de un mundo mejor</h4>
        <div class="social-section-content-logo"></div>
      </div>

      <div class="social-section-content-text">
        <p>
          Desde 1947 Cibel S.R.L. se compromete a contribuir en la existencia de una sociedad más justa  y en defensa de un medio ambiente sano. 
        </p>
        <p>
          Nuestra actividad como compañía química presenta un gran impacto en el desarrollo social de nuestro país, y específicamente en la comunidad en la que desarrollamos nuestra actividad.
        </p>
        <p>
          De este modo, hemos implementado nuestro citado compromiso en los siguientes puntos: 
        </p>

        <div class="social-section-content-subsection">
          <h5 class="social-section-content-text-subtitle">Sociedad:</h5>
          <p class="social-section-content-subsection-text">
            Cibel S.R.L. se encuentra en constante apoyo a la comunidad. Así, ha brindado ayuda - mediante la donación de pintura - a determinadas organizaciones que precisaron de la misma:
          </p>
          <ul class="social-section-content-list">
            <li>
              Escuela Especial Portal del Sol, Tapiales, Partido de la Matanza, Provincia de Buenos Aires
            </li>
            <li>
              Instituto Divino Maestro, Villa Insuperable, La Tablada, Partido de la Matanza, Provincia de Buenos Aires
            </li>
            <li>
              Comisaria Distrital Noreste 1ª, Villa Madero, Partido de la Matanza, Provincia de Buenos Aires
            </li>
            <li>
              Centro de Adiestramiento y Crianza de Canes, Partido de la Matanza, Provincia de Buenos Aires 
            </li>
            <li>
              Campaña Solidaria 2012,  La Quiaca, Provincia de Jujuy 
            </li>
            <li>
              Manos a la Obra 2009-Proyecto Mural, Escuela Nº 1, Capilla del Señor, Partido de Exaltación de la Cruz, Provincia de Buenos Aires
            </li>
          </ul>
          <p class="social-section-content-susbsection-legend">"Ayudemos a quienes lo necesitan"</p>
        </div>

        <div class="social-section-content-subsection">
          <h5 class="social-section-content-text-subtitle">No al Trabajo Infantil:</h5>
          <p class="social-section-content-subsection-text">
            Creemos que los niños son un pilar fundamental en nuestra sociedad, y que gozan del derecho a ser felices. Por ello, desde sus orígenes Cibel S.R.L. ha tomado el compromiso de NO al trabajo infantil.
          </p>
          <p class="social-section-content-susbsection-legend">"Niños Felices, Niños a las escuelas"</p>
        </div>

        <div class="social-section-content-subsection">
          <h5 class="social-section-content-text-subtitle">Medio Ambiente:</h5>
          <p class="social-section-content-subsection-text">
            En  Cibel S.R.L. pensamos que la preservación de nuestro medio ambiente es de vital importancia tanto para las generaciones presentes como para las futuras. Creemos que la protección del mismo comienza en nuestro propio hogar, por lo que siendo coherentes con ello, cumplimos con los siguientes procedimientos en nuestra planta:
          </p>
          <h6 class="social-section-content-subsection-subtitle">agua:</h6>
          <p class="social-section-content-subsection-text">
            Todo el remanente de agua utilizada para los lavados de los materiales de producción es tratada y reutilizada para nuestros productos. Asimismo, los residuos peligrosos (que se generan en una proporción reducida) reciben un cuidadoso tratamiento y son administrados por empresas autorizadas.
          </p>
          <h6 class="social-section-content-subsection-subtitle">reciclado de residuos (cartón, plástico):</h6>
          <p class="social-section-content-subsection-text">
            Todo residuo de cartón o plástico generado es identificado, clasificado, reducido en fardos, y finalmente  administrado por sujetos especializados en ello.
          </p>
          <p class="social-section-content-susbsection-legend">"El planeta es de todos, cuidémoslo"</p>
        </div>
      </div>
    </div>
  </div>
</div>
