<div class="advice-modal-content">
  <h3 class="modal-content-title">Mantenimiento</h3>

  <div class="modal-content-paragraph">
<b>Paredes</b> Muchas veces nos encontramos con paredes pintadas pero sucias. Estas se pueden limpiar con un trapo con agua y un poco de detergente. Nunca emplear productos abrasivos. Esta limpieza  es factible cuando empleamos pinturas que son lavables, característica generalmente  indicada en la lata. Recordemos que la  lavabilidad se adquiere normalmente después de 3 semanas de haber pintado, ya que en ese periodo se logra un cierre total de la película.
  </div>

  <div class="modal-content-paragraph">
    <b>Metales ferrosos</b> es conveniente revisar periódicamente para ver si hay  raspones que lleguen hasta el metal. De ser así, es  necesario pintar nuevamente esa área para evitar que prospere el óxido.
  </div>
<div class="modal-content-paragraph">
  <b>Techos o terrazas pintadas con membranas en pasta o impermeabilizantes</b> revise periódicamente para detectar rajaduras o filtraciones. Es conveniente aplicar una mano de producto en las zonas afectadas para evitar daños mayores.
</div>
<div class="modal-content-paragraph">
<b>Maderas</b> tienen que ser revisadas periódicamente para detectar envejecimientos prematuros de la pintura como consecuencia de su exposición a los efectos nocivos del sol, lluvia, viento o nieve.
</div>

</div>
