<div class="advice-modal-content">
  <h3 class="modal-content-title">Herramientas</h3>

  <div class="modal-content-section">
    <h4 class="modal-content-subtitle"><i class="icon-paint-roller"></i> Rodillos</h4>
    <div class="modal-content-paragraph">
      <div class="advice-modal-content-text">
        ¿Qué tipo de rodillos hay?
      </div>
      <ul class="modal-content-tools-list">
        <li class="modal-content-tools-list-item">
          <b>Rodillos de pelo corto</b> Son mejores para las pinturas a base solvente. Ideales para pinturas brillantes, sintéticas y látex satinados, y para pintar superficies bien lisas.
        </li>
        <li class="modal-content-tools-list-item">
          <b>Rodillo de pelo mediano</b> Generalmente se utilizan con pinturas base agua.
        </li>
        <li class="modal-content-tools-list-item">
          <b>Rodillos de pelo largo</b> Generalmente se utilizan en exteriores, en superficies rugosas o con cierta textura. Son apropiados para aplicar revestimientos.

        </li>
      </ul>
    </div>
    <div class="modal-content-paragraph">
      <div class="advice-modal-content-text">
        ¿Qué tamaño de rodillos es mejor?
      </div>
      <ul class="modal-content-tools-list">
        <li class="modal-content-tools-list-item">
          <b>230 - 270mm</b> para las paredes, techos, suelos y caminos. En ciertos casos se puede recurrir a rodillos más chicos para pintar rincones de una pared, cuando usar el grande resulta una incomodidad.

        </li>
        <li class="modal-content-tools-list-item">
          <b>30 - 180mm</b> para muebles grandes, puertas y paredes chicas.
        </li>
        <li class="modal-content-tools-list-item">
          <b>80 - 130mm</b> para adornos, pequeñas superficies, marcos o rincones.

        </li>
      </ul>
    </div>
    <div class="modal-content-paragraph">
      <div class="advice-modal-content-text">
        Preparación de los rodillos
      </div>
      <ul class="modal-content-tools-list">
        <li class="modal-content-tools-list-item">
          Eliminar vestigios de polvo y fibras sueltas.  Enjuagar los rodillos con agua o aguarrás, para pinturas al agua o sintéticas respectivamente.
        </li>

      </ul>
    </div>
  </div>

  <div class="modal-content-section">
    <h4 class="modal-content-subtitle"><i class="icon-art"></i> Pinceles</h4>
    <div class="modal-content-paragraph">
      <div class="advice-modal-content-text">
        ¿Cómo elegir el pincel adecuado?
      </div>
      <ul class="modal-content-tools-list">
        <li class="modal-content-tools-list-item">
          Al elegir un pincel, hay que tomar en cuenta 3 aspectos: tipo de cerda, número de virola y el ancho del pincel.
        </li>
        <li class="modal-content-tools-list-item">
          <b>Tipo de Cerda</b> El tipo de cerda puede ser natural o sintética, siendo las denominadas “cerdas chinas” las más apreciadas. En los últimos tiempos han hecho su aparición cerdas sintéticas de muy alta calidad y de uso específico para cada tipo de pintura.
        </li>
        <li class="modal-content-tools-list-item">
          <b>Número de virola</b> El número de virola (1, 2, 3 y 4) determina el espesor del mismo. Esta es importante ya que nos indica la  capacidad de carga de pintura en el pincel. Cuanto mayor es el número, mayor la capacidad de carga de pintura. Para los Látex se utiliza por lo general virola N°3 y N°4, y para los sintéticos y barnices, virola N° 1 y N°2. La virola N° 1 es aconsejable para trabajos muy delicados, aplicación de lasures, barnices, y tareas  que requieran una mayor perfección  de aplicación.
        </li>
        <li class="modal-content-tools-list-item">
          <b>Ancho del pincel</b> El ancho del pincel va de 12mm a 125mm. En líneas generales, la elección del ancho del  mismo tiene que ver con la superficie a pintar, el grado de detalle en el trabajo  a realizar y la habilidad del  aplicador. A título de ejemplo, para pintar puertas, marcos y ventanas, se utilizara un pincel de ancho intermedio, rejas, celosías, cenefas, etc. requieren el empleo de medidas menores.<br/>
          Las pinceletas (pinceles bien anchos) de 125mm y virolas N°3 o N° 4, en general se usan para látex, en vez de rodillos. También para aplicar fijador o fondo blanco, que no son productos de terminación.

        </li>
      </ul>
    </div>
  </div>

  <div class="modal-content-section">
    <h4 class="modal-content-subtitle"><i class="icon-hygiene"></i> Lijas</h4>
    <div class="modal-content-paragraph">
      <div class="advice-modal-content-text">
      <b>IMPORTANTE:</b> En todo tipo de lija, el número más bajo de grano (cantidad de granos por centímetro cuadrado) significa un alto grado de abrasión.
<br/>
        Hay distintos tipos de lijas. Estas se dividen en:
      </div>
      <ul class="modal-content-tools-list">
        <li class="modal-content-tools-list-item">
          <b>Al agua</b> Se usan sobre maderas y trabajos de enduido. Vienen con un grano de 80 a 600.  Estas lijas al agua, en el mercado, se comercializan en color negro.
        </li>
        <li class="modal-content-tools-list-item">
        <b>Para madera</b> Se usan especialmente sobre maderas. Vienen con un grano de 36 a 220. En el mercado se comercializan en color rojo.

        </li>
        <li class="modal-content-tools-list-item">
          <b>Anti-empaste</b> Se usan en madera, metales y masillas aplicadas sobre placas de yeso. Vienen con un grano de  80 a 600. Se comercializan en color blanco.
        </li>
        <li class="modal-content-tools-list-item">
          <b>Tela esmeril</b> Se usan sobre metales. Vienen con un grano de 24 a 600. Se comercializan en color negro, sobre un soporte de tela.
        </li>
        <li>

        Un buen trabajo de lijado y pulido se realiza iniciando el mismo con una lija más gruesa para continuar con otra más fina (esta última con mayor cantidad de granos por cm2).
        </li>
        <li>
          Recomendamos no excederse con la elección en el poder de abrasión de la lija,  para evitar daños  sobre la superficie que estamos trabajando. En líneas generales, una opción de grano medio es la mejor elección para evitar estas posibles ralladuras.
        </li>

      </ul>
    </div>
  </div>
</div>
