<div class="advice-modal-content">
  <h3 class="modal-content-title">Preparación de superficies a pintar</h3>

  <div class="advice-modal-content-section">
    <div class="modal-content-paragraph">
      <h4 class="modal-content-subtitle"><i class="fa fa-tint" aria-hidden="true"></i>  Paredes</h4>
      <div class="advice-modal-content-text">
        Primero asegúrese que la pared no presente rastros de humedad (goteras, cañería rota, etc.), que esté libre de polvo, grasitud o suciedad. Es importante solucionar estos problemas  antes de comenzar los trabajos de  pintado.  Si la pared presenta imperfecciones o agujeros, rellene los mismos y empareje con Enduido Plástico al Agua Prima Facie. Una vez seco el enduido, lije para emparejar y aplique una mano de Fijador Sellador Concentrado Prima Facie. Muchas veces, cuando vemos que la pared es vieja o muy absorbente, conviene dar también una mano previa  de fijador  antes de aplicar el enduido. El fijador empareja el nivel de absorción de la superficie a pintar, mejorando el rendimiento de la pintura a aplicar.
      </div>
    </div>

    <div class="modal-content-paragraph">
      <h4 class="modal-content-subtitle"><i class="fa fa-tint" aria-hidden="true"></i>  Metales Ferrosos</h4>
      <div class="advice-modal-content-text">
        Primero  limpie la superficie con un trapo embebido en aguarrás mineral para eliminar polvo o grasitud.  Si hay oxido o pinturas sueltas, se deberán  eliminar con un cepillo de acero o  viruta.
      </div>
    </div>

    <div class="modal-content-paragraph">
      <h4 class="modal-content-subtitle"><i class="fa fa-tint" aria-hidden="true"></i>  Maderas</h4>
      <div class="advice-modal-content-text">
        Limpiar la madera con un trapo embebido en aguarrás mineral. Rellene agujeros con masilla para madera y lije (en el sentido de las vetas de madera) hasta lograr una superficie pareja.
      </div>
    </div>

    <div class="modal-content-paragraph">
      <h4 class="modal-content-subtitle"><i class="fa fa-tint" aria-hidden="true"></i>  Chapa Galvanizada y Zincalum</h4>
      <div class="advice-modal-content-text">
        Estas chapas  nuevas deberán   limpiarse con un trapo embebido en aguarrás para eliminar cualquier grasitud o polvo que tengan. Este trabajo es importante ya que la grasitud  impide  el anclaje de la pintura, y por consiguiente esta se termina levantando en el corto plazo. Nuestras pinturas CibelPlus Multiacción y CibelTop   se pueden aplicar directamente sobre chapas nuevas, sin necesidad de dar una mano previa de mordiente (pintura previa  que se aplica para lograr una mejor adherencia de la pintura de terminación).
        <br />Si tiene que repintar chapas, asegúrese de eliminar bien los restos de pinturas descascaradas o en mal estado y restos de óxido flojo. Para este trabajo es conveniente utilizar viruta gruesa o media.       </div>
    </div>

    <div class="modal-content-paragraph">
      <h4 class="modal-content-subtitle"><i class="fa fa-tint" aria-hidden="true"></i>  Ladrillos</h4>
      <div class="advice-modal-content-text">
Elimine toda la suciedad con un cepillo de paja o plástico duro.  Rellene las grietas con un sellador adecuado. Elimine todo el hongo y verdín mediante lavandina o cloro diluido. Es indispensable  lavar bien con abundante agua limpia después para que no queden vestigios de cloro, ya que este impide la adherencia de la pintura al ladrillo.
      </div>
    </div>

    <div class="modal-content-paragraph">
      <h4 class="modal-content-subtitle"><i class="fa fa-tint" aria-hidden="true"></i>  Hormigón/Concreto</h4>
      <div class="advice-modal-content-text">
        Verifique que el hormigón/concreto haya estado curado y este seco. Si tiene agua en el interior y se  pinta arriba, cuando esta salga va a levantar toda la pintura. Una vez hecho el hormigón hay que esperar por lo menos 4 semanas para poder pintar. Si es necesario  empareje la superficie con Enduido Plastico al Agua Prima Facie. Luego aplique una mano de Fijador Sellador Concentrado Prima Facie antes de pintar.
      </div>
    </div>

    <div class="modal-content-paragraph">
      <h4 class="modal-content-subtitle"><i class="fa fa-tint" aria-hidden="true"></i>  Placa de yeso</h4>
      <div class="advice-modal-content-text">
        Después de instaladas las placas, aplique Enduido Plástico al Agua Prima Facie para emparejar la superficie a pintar. Lije,  limpie el polvillo y de una mano de Imprimación Fijadora Prima Facie. Es importante esta mano de imprimación para lograr una superficie homogénea de absorción de pintura. Dejar secar mínimo 6 horas y  aplicar dos manos de la pintura de terminación seleccionada.
      </div>
    </div>
  </div>
</div>
