<div class="advice-modal-content">
  <h3 class="modal-content-title">Antes de empezar</h3>

  <div class="advice-modal-content-section">
    <div class="modal-content-paragraph">
      <p class="advice-modal-content-text">
        Antes de comenzar a pintar es importante saber que  las pinturas son productos   para proteger y decorar. Así, resultan el último paso en la puesta a punto de la superficie a pintar (por ejemplo una pared, una madera, una reja, un caño, etc.). Por eso es indispensable que esta superficie se encuentre en buenas condiciones. Es importante seguir los siguientes  consejos:
      </p>
    </div>

    <div class="modal-content-paragraph">
      <span class="waring-icon"></span>
      <p class="advice-modal-content-text">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        Inspeccione las superficies para ver los defectos que existen, y determine las herramientas y productos que se necesitan para realizar el trabajo.
      </p>
    </div>

    <div class="modal-content-paragraph">
      <div class="advice-modal-content-text">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        Libere el acceso a las superficies a pintar. Por ejemplo, tratándose de ambientes hogareños saque clavos, cuadros, cortinas, ganchos, etc. Ubique los muebles en el centro de la habitación y cúbralos con una lona.
      </div>
    </div>
  </div>

  <div class="advice-modal-content-section">
    <div class="modal-content-paragraph">
      <p class="advice-modal-content-text">
        *En caso de que las paredes fueran previamente pintada, además:
      </p>
    </div>

    <div class="modal-content-paragraph">
      <p class="advice-modal-content-text">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        La superficie a tratar debe estar limpia, seca, y libre de cualquier suciedad, grasitud o restos de  pinturas anteriores flojas o descascaradas.
      </p>
    </div>

    <div class="modal-content-paragraph">
      <p class="advice-modal-content-text">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Rellene los agujeros o rayones con <span>Enduido Plástico al Agua Prima Facie</span>.
      </p>
    </div>
  </div>
</div>
