<div class="advice-modal-content">
  <h3 class="modal-content-title">Aplicación</h3>

  <div class="modal-content-paragraph">
    <h4 class="modal-content-subtitle">Limpiar</h4>
    <div class="advice-modal-content-text">
      Tenga en cuenta  que la superficie a pintar debe estar siempre seca, limpia y libre de cualquier suciedad. Por lo tanto elimine todo resto de polvo, grasitud , manchas, etc. Si no da este primer paso no se lograra un buen anclaje de la pintura sobre la superficie a pintar.
    </div>
  </div>

  <div class="modal-content-paragraph">
    <h4 class="modal-content-subtitle">Rellenar</h4>
    <div class="advice-modal-content-text">
      Recuerde también que hay que pintar superficies lisas y uniformes. Por ello, rellene estas  con enduido plástico o masillas para madera, según el caso, a fin de lograr una superficie  en condiciones  para pintar.
    </div>
  </div>

  <div class="modal-content-paragraph">
    <h4 class="modal-content-subtitle">Preparación de la Pintura</h4>
    <div class="advice-modal-content-text">
      Antes de comenzar a pintar hay que revolver bien el contenido de  la lata. Con esto se logra uniformar bien la pintura, y sobre todo cuando se trata de colores ya preparados. Los pigmentos generalmente se depositan en el fondo de la lata, y hay que incorporarlos totalmente a la pintura para lograr una aplicación uniforme de la misma. Para ello, es necesario revolver bien el contenido de la lata con una paleta o elemento plano, con movimientos circulares y en forma ascendente para lograr incorporar el material que se encuentre en el fondo de la misma. Nunca usar un palo redondo ya que no se lograra cumplimentar el objetivo.
    </div>
  </div>
  <div class="modal-content-paragraph">
    <h4 class="modal-content-subtitle">Protección personal</h4>
    <div class="advice-modal-content-text">
      Asegúrese que el área  este bien ventilada. Use ropa adecuada, guantes descartables y un barbijo mientras este lijando. También es recomendable un barbijo cuando este aplicando pinturas  base solvente en espacios de escasa ventilación.
    </div>
  </div>
  <div class="modal-content-paragraph">
    <h4 class="modal-content-subtitle">Clima</h4>
    <div class="advice-modal-content-text">
      Los días cálidos,  secos y con poco rocío resultan las mejores condiciones climáticas para pintar. Si por necesidad tuviera que pintar bajo condiciones de humedad, la calefacción y una buena ventilación ayuda al secado de la pintura. Evite pintar cuando la temperatura este por debajo de 5°C o por encima de 40°C. Si por ejemplo está pintando un techo de chapa en verano, haga el trabajo bien temprano en la mañana y a la tardecita. Cuando el sol esta alto, la chapa levanta mucha temperatura, y esta no permite el anclaje de la pintura.
    </div>
  </div>

  <div class="modal-content-paragraph">
    <h4 class="modal-content-subtitle">¿Cómo pintar?</h4>
    <div class="advice-modal-content-text">
Estos son algunos consejos que pueden simplificar el trabajo de pintar.    </div>
    <div class="advice-modal-content-text">
      <i class="fa fa-info" aria-hidden="true"></i> Interiores. Orden de pintado:
    </div>
    <ul class="advice-modal-list">
      <li>1. Empiece pintando el cielorraso.</li>
      <li>2. De una primera mano a las paredes</li>
      <li>3. Segunda mano al cielorraso.</li>
      <li>4. Segunda mano a las paredes.</li>
      <li>
        5. Luego pinte las aberturas.
      </li>
    </ul>

    <div class="advice-modal-content-text">
    <i class="fa fa-info" aria-hidden="true"></i>Exteriores. Orden de pintado:
    </div>

    <ul class="advice-modal-list">
      <li>1. Empiece por los techos.</li>
      <li>2. Balcones y Paredes.
</li>
      <li>3. Canaletas y Bajantes.
</li>
      <li>4. Aberturas</li>
    </ul>
  </div>

  <div class="modal-content-paragraph">
    <h4 class="modal-content-subtitle">5. Proteger</h4>
    <div class="advice-modal-content-text">
      Asegúrese de que el área esté bien ventilada. Use ropa adecuada, guantes y un barbijo cuando deba lijar. Asimismo, un barbijo también se recomienda cuando la aplicación de pinturas a base solvente se realiza en espacios confinados o si la ventilación es escasa.
    </div>
  </div>

  <div class="modal-content-paragraph">
    <h4 class="modal-content-subtitle"><i class="fa fa-info-circle" aria-hidden="true"></i> Clima</h4>
    <div class="advice-modal-content-text">
      Los días cálidos y secos con poco rocío o escarcha resultan las mejores condiciones climáticas para pintar. Pintar, nunca debe llevarse a cabo bajo condiciones de humedad. La Calefacción y una buena ventilación interior ayuda al secado de la pintura interior durante el clima frío o una humedad elevada. Evite pintar cuando la temperatura este por debajo de 5 ºC o por encima de 40 ºC.
    </div>
  </div>
</div>
