<div class="advice-modal-content">
  <h3 class="modal-content-title">Reglas</h3>

  <div class="advice-modal-content-section">
    <div class="modal-content-paragraph">
      <span class="waring-icon"></span>
      <p class="advice-modal-content-text"><i class="fa fa-check-circle-o" aria-hidden="true"></i><b>Qué Hacer:</b></p>
      <ul class="advice-modal-list">
        <li>1. Es muy importante que la superficie este limpia y seca.</li>
        <li>2. Preste siempre atención a las características y recomendaciones de los productos que va a aplicar.</li>
        <li>3. Si va a utilizar pinceles, elimine los pelos sueltos de los mismos. Cargue el pincel de manera uniforme por inmersión hasta la mitad de  sus cerdas. Luego escurra el pincel contra el borde superior de la lata a fin de eliminar excesos de pintura.
</li>
        <li>
          4. Aplique la pintura de manera uniforme con trazos suaves y cortos.
        </li>
        <li>5. En caso de pintar maderas con lasures o barnices, haga correr el pincel en el sentido de las vetas de la madera.</li>
        <li>6.Pinte siempre las superficies empezando por la parte superior de las mismas.</li>
      </ul>
    </div>
  </div>

  <div class="advice-modal-content-section">
    <div class="modal-content-paragraph">
      <span class="waring-icon"></span>
      <p class="advice-modal-content-text"><i class="fa fa-times-circle-o" aria-hidden="true"></i><b>Qué no Hacer:</b></p>
      <ul class="advice-modal-list">
        <li>1. No dejar  rodillos o pinceles en remojo  en agua o aguarrás después de utilizarlos  por periodos prolongados, ya que los mismos se flexibilizaran  arruinándose.</li>
        <li>
          2. No mezclar la pintura en la lata con pinceles o palos redondos. Utilice un palo plano o elemento similar.
        </li>
        <li>3. No usar pinceles grandes para pintar elementos pequeños o estrechos, ya que se  sobrecargara  de pintura  la superficie, arruinando el trabajo de terminación.</li>
        <li>
          4. Trabajar en ambientes totalmente cerrados.
        </li>
      </ul>
    </div>
  </div>
</div>
