<div class="advice-modal-content">
  <h3 class="modal-content-title">Problemas comunes de la pintura</h3>

  <div class="modal-content-paragraph">
    A continuación detallamos algunos de los inconvenientes que nos encontramos cuando pintamos y las soluciones adecuadas.
  </div>

  <div class="advice-modal-content-section">

    <div class="modal-content-paragraph">
      <h4 class="modal-content-subtitle">Cuarteado:</h4>
      <div class="advice-modal-content-text">¿QUE ES? Son quebraduras de la película de pintura.</div>
    </div>
    <div class="imagen-representacion cuarteado"></div>

    <div class="modal-content-paragraph">
      <div class="modal-content-subtitle"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Causas</div>
      <ul class="advice-modal-list">
        <li class="advice-modal-list-item">
          Múltiples capas de pinturas envejecidas que se debilitan y comienzan a quebrarse.
        </li>

        <li class="advice-modal-list-item">
          Pinturas de terminación con incapacidad de adherirse sobre superficies lisas brillantes
        </li>

        <li class="advice-modal-list-item">
          Insuficiente tiempo de secado entre manos.
        </li>

        <li class="advice-modal-list-item">
Aplicación de un recubrimiento duro y rígido sobre una blando y flexible.
        </li>

        <li class="advice-modal-list-item">
          Dilución de la pintura con solvente inadecuado.
        </li>

        <li class="advice-modal-list-item">
Aplicación de la pintura en condiciones climáticas inadecuadas. Por ejemplo, pintar en verano al medio día un techo de chapa  que está muy caliente. El diluyente de la pintura se evaporara antes que se logre el anclaje de la pintura a la chapa.        </li>

        <li class="advice-modal-list-item">
          Ausencia de fondos, cuando se aplica en forma directa un producto de terminación.
        </li>
      </ul>
    </div>
    <div class="modal-content-paragraph">
      <div class="modal-content-subtitle"><i class="fa fa-check-circle" aria-hidden="true"></i> Soluciones</div>
      <ul class="advice-modal-list">
        <li class="advice-modal-list-item">
          Remover toda la pintura cuarteada con espátula de forma manual o con medios mecánicos.
        </li>

        <li class="advice-modal-list-item">
          Limpiar la superficie eliminando todo resto de polvo, grasitud, manchas, etc.
        </li>

        <li class="advice-modal-list-item">
          Aplicar el fondo indicado en tipo y forma a fin al producto de terminación
        </li>

        <li class="advice-modal-list-item">
          Aplicar la pintura seleccionada respetando los tiempos de secado y el correcto diluyente.
        </li>
      </ul>
    </div>
  </div>

  <div class="advice-modal-content-section">
    <div class="modal-content-paragraph">
      <h4 class="modal-content-subtitle">Ampollado:</h4>
      <div class="advice-modal-content-text">¿QUE ES? Son “burbujas” redondeadas sobre la película de pintura.</div>
    </div>
    <div class="imagen-representacion ampollado"></div>

    <div class="modal-content-paragraph">
      <div class="modal-content-subtitle"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Causas</div>
      <ul class="advice-modal-list">
        <li class="advice-modal-list-item">
Presencia de humedad en la superficie pintada y/o en el ambiente.
        </li>

        <li class="advice-modal-list-item">
          Aplicación de la pintura en condiciones de muy altas temperaturas.
        </li>

        <li class="advice-modal-list-item">
          Aplicación de la pintura sobre superficies contaminadas con suciedad, óxidos, aceites, grasas, etc.
        </li>
      </ul>
    </div>

    <div class="modal-content-paragraph">
      <div class="modal-content-subtitle"><i class="fa fa-check-circle" aria-hidden="true"></i> Soluciones</div>
      <ul class="advice-modal-list">
        <li class="advice-modal-list-item">
          Investigar y reparar el origen de la humedad (por ejemplo fallas de impermeabilidad, filtraciones, humedad de cimientos, rotura de algún caño de agua, etc.).
        </li>

        <li class="advice-modal-list-item">
          Remover toda las “ampollas” de pintura con lija y espátula.
        </li>

        <li class="advice-modal-list-item">
          Limpiar la superficie eliminando todo resto de polvo, grasitud, manchas, etc.
        </li>

        <li class="advice-modal-list-item">
          Aplicar la pintura seleccionada respetando los tiempos de secado y el correcto diluyente.
        </li>
      </ul>
    </div>
  </div>

  <!-- <div class="advice-modal-content-section">
    <div class="modal-content-paragraph">
      <h4 class="modal-content-subtitle">Tizado:</h4>
      <div class="advice-modal-content-text">¿QUE ES? Es el desprendimiento de la pintura, generalmente luego de una prolongada exposición a la intemperie.</div>
    </div>
    <div class="imagen-representacion tizado"></div>

    <div class="modal-content-paragraph">
      <div class="modal-content-subtitle"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Causas</div>
      <ul class="advice-modal-list">
        <li class="advice-modal-list-item">
          Aplicación de pinturas interiores en exteriores.
        </li>
        <li class="advice-modal-list-item">
          Envejecimiento natural de la pintura.
        </li>
      </ul>
    </div>

    <div class="modal-content-paragraph">
      <div class="modal-content-subtitle"><i class="fa fa-check-circle" aria-hidden="true"></i> Soluciones</div>
      <ul class="advice-modal-list">
        <li class="advice-modal-list-item">
          Remover el polvo flojo y lavar con agua.
        </li>
        <li class="advice-modal-list-item">
          Limpiar la superficie eliminando todo resto de polvo, grasitud, manchas, etc.
        </li>
        <li class="advice-modal-list-item">
          Aplicar la pintura seleccionada respetando los tiempos de secado y el correcto diluyente.
        </li>
      </ul>
    </div>
  </div> -->

  <div class="advice-modal-content-section">
    <div class="modal-content-paragraph">
      <h4 class="modal-content-subtitle">Desprendimiento:</h4>
      <div class="advice-modal-content-text">¿QUE ES? Es el desprendimiento de la película de pintura. </div>
    </div>
    <div class="imagen-representacion desprendimiento"></div>

    <div class="modal-content-paragraph">
      <div class="modal-content-subtitle"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Causas</div>
      <ul class="advice-modal-list">
        <li class="advice-modal-list-item">
          Aplicación de la pintura sobre un fondo incorrecto.
        </li>
        <li class="advice-modal-list-item">
          Aplicación de pinturas sobre superficies preparadas deficientemente.
        </li>
        <li class="advice-modal-list-item">
          Aplicación de una capa muy fina de pintura.
        </li>
      </ul>
    </div>

    <div class="modal-content-paragraph">
      <div class="modal-content-subtitle"><i class="fa fa-check-circle" aria-hidden="true"></i> Soluciones</div>
      <ul class="advice-modal-list">
        <li class="advice-modal-list-item">
          Remover toda pintura floja y lavar con agua.
        </li>
        <li class="advice-modal-list-item">
          Limpiar la superficie eliminando todo resto de polvo, grasitud, manchas, etc.
        </li>
        <li class="advice-modal-list-item">
          Aplicar el fondo correcto, para asegurarse de una buena adherencia de la pintura.
        </li>
        <li class="advice-modal-list-item">
          Aplicar la pintura seleccionada respetando los tiempos de secado y el correcto diluyente.
        </li>
      </ul>
    </div>
  </div>

  <div class="advice-modal-content-section">
    <div class="modal-content-paragraph">
      <h4 class="modal-content-subtitle">Arrugado:</h4>
      <div class="advice-modal-content-text">¿QUE ES? Son “arrugas” que surgen de la película de pintura.</div>
    </div>
    <div class="imagen-representacion arrugado"></div>

    <div class="modal-content-paragraph">
      <div class="modal-content-subtitle"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Causas</div>
      <ul class="advice-modal-list">
        <li class="advice-modal-list-item">
          Aplicación de pinturas en exceso.
        </li>
        <li class="advice-modal-list-item">
          Insuficiente tiempo de secado entre manos.
        </li>
        <li class="advice-modal-list-item">
          Presencia de humedad en la superficie pintada.
        </li>
        <li class="advice-modal-list-item">
          Aplicación de la pintura en condiciones de muy bajas temperaturas o de muy altas.
        </li>
      </ul>
    </div>

    <div class="modal-content-paragraph">
      <div class="modal-content-subtitle"><i class="fa fa-check-circle" aria-hidden="true"></i> Soluciones</div>
      <ul class="advice-modal-list">
        <li class="advice-modal-list-item">
          En caso de existir humedad, investigar y reparar el origen de la misma (por ejemplo fallas de impermeabilidad, filtraciones, humedad de cimientos, rotura de algún caño de agua, etc.).
        </li>
        <li class="advice-modal-list-item">
          Remover la pintura defectuosa y lavar con agua.
        </li>
        <li class="advice-modal-list-item">
          Limpiar la superficie eliminando todo resto de polvo, grasitud, manchas, etc.
        </li>
        <li class="advice-modal-list-item">
          Aplicar la pintura seleccionada respetando los tiempos de secado y el correcto diluyente.
        </li>
      </ul>
    </div>
  </div>
</div>
