<div class="inpiration-modal-content">
  <h3 class="modal-content-title">¿Cómo nos afectan los colores?</h3>

  <div class="inspiration-modal-content-section">
    <div class="modal-content-paragraph">
      <p class="inspiration-modal-content-text">
        El color no solo es la impresión  que nuestros ojos perciben por la luz, en otras palabras lo que miramos, sino que además influye en lo que sentimos. Así,  a partir de la Psicología del Color y la Cromoterapia, se ha buscado identificar los efectos de los colores sobre nosotros.
      </p>
      <p class="inspiration-modal-content-text">
        Descubramos…
      </p>
    </div>
  </div>

  <div class="inspiration-modal-content-section">
    <div class="inspiration-modal-color-box-wrapper">
      <div class="inspiration-modal-color-box">
        <div class="inspiration-modal-color-box-sample blue"></div>
        <p class="inspiration-modal-color-box-title">Azul</p>
        <div class="inspiration-modal-color-box-text-wrapper">
          <p>
            El Azul es el color con mayor cantidad de simpatizantes. Tal vez esto se deba a que coincide con una constante en nuestras vidas, es decir el cielo. Por ello, se considera el color divino, el espiritual; aquel que revela todo aquello que permanecerá eternamente. 
          </p>
          <p>
            Refleja confianza, armonía, simpatía y paz. Ideal para dormitorios donde se busca encontrar calma, serenidad y descanso. El frio se manifiesta por medio del Azul, por ello en ambientes cálidos se utiliza con el fin de obtener una sensación de frescor.
          </p>
          <p>
            ¿Que sentimiento nos genera?:
          </p>
          <ul class="inpiration-modal-color-box-list">
            <li>- Tranquilidad</li>
            <li>- Frescor/ Frescura</li>
          </ul>
        </div>
      </div>

      <div class="inspiration-modal-color-box">
        <div class="inspiration-modal-color-box-sample red"></div>
        <p class="inspiration-modal-color-box-title">Rojo</p>
        <div class="inspiration-modal-color-box-text-wrapper">
          <p>
            El Rojo es el color de las pasiones, tanto las positivas como las negativas. Así, amor y odio confluyen en un mismo color. 
          </p>
          <p>
            Manifiesta lo extrovertido; es decir aquello que no puede quedar en segundo plano.  Resulta excelente para decorar espacios con alegría, energía y calor. Constituye un estímulo para el desarrollo de actividades.
          </p>
          <p>
            ¿Que sentimiento nos genera?:
          </p>
          <ul class="inpiration-modal-color-box-list">
            <li>- Energía</li>
            <li>- Alegría</li>
            <li>- Calidez</li>
          </ul>
        </div>
      </div>

      <div class="inspiration-modal-color-box">
        <div class="inspiration-modal-color-box-sample yellow"></div>
        <p class="inspiration-modal-color-box-title">Amarillo</p>
        <div class="inspiration-modal-color-box-text-wrapper">
          <p>
            El amarillo es el color del optimismo. Posiblemente ello se deba a que concuerda con el Sol, un elemento de constante de energía y animo en nuestras vidas. Manifiesta diversión, energía e iluminación mental.  Asimismo, constituye un color llamativo y espontaneo.
          </p>
          <p>
            ¿Que sentimiento nos genera?:
          </p>
          <ul class="inpiration-modal-color-box-list">
            <li>- Animo</li>
            <li>- Diversión</li>
            <li>- Energía</li>
          </ul>
        </div>
      </div>

      <div class="inspiration-modal-color-box">
        <div class="inspiration-modal-color-box-sample green"></div>
        <p class="inspiration-modal-color-box-title">Verde</p>
        <div class="inspiration-modal-color-box-text-wrapper">
          <p>
            El color de la naturaleza. De todo aquello que resulta saludable, natural, es decir de la vida misma. Refleja seguridad, neutralidad, tolerancia y esperanza. Brinda tranquilidad y armonía en los ambientes. 
          </p>
          <p>
            ¿Que sentimiento nos genera?:
          </p>
          <ul class="inpiration-modal-color-box-list">
            <li>- Calma</li>
            <li>- Armonía</li>
            <li>- Esperanza</li>
          </ul>
        </div>
      </div>

      <div class="inspiration-modal-color-box">
        <div class="inspiration-modal-color-box-sample black"></div>
        <p class="inspiration-modal-color-box-title">Negro</p>
        <div class="inspiration-modal-color-box-text-wrapper">
          <p>
            El color de la elegancia, lo formal; aquello que transmite seguridad. Resulta un color clásico para la ropa ya que destaca  el rostro -centro de la individualidad personal- de quien lo viste. Puede utilizarse  para destacar detalles dentro o fuera de una casa. Asimismo, en un ambiente claro, los muebles negros dominan el espacio aparentando ser más duros y pesados.
          </p>
          <p>
            ¿Que sentimiento nos genera?:
          </p>
          <ul class="inpiration-modal-color-box-list">
            <li>- Elegancia</li>
            <li>- Estrechez</li>
          </ul>
        </div>
      </div>

      <div class="inspiration-modal-color-box">
        <div class="inspiration-modal-color-box-sample white"></div>
        <p class="inspiration-modal-color-box-title">Blanco</p>
        <div class="inspiration-modal-color-box-text-wrapper">
          <p>
            El color más perfecto, el de la verdad; aquel que no presenta connotaciones negativas. Sugiere limpieza e inocencia. Resulta el color preferido para los interiores, ya que junto a la luz genera una excelente iluminación,  agrandando los ambientes. Ideal para ser decorado con muebles y objetos de colores, permite un espacio para la creación y la espontaneidad. Inspira ligereza, es decir aquello que se encuentra vacío; por ello generalmente la ropa veraniega es clara.
          </p>
          <p>
            ¿Que sentimiento nos genera?:
          </p>
          <ul class="inpiration-modal-color-box-list">
            <li>- Limpieza</li>
            <li>- Tranquilidad</li>
            <li>- Ligereza</li>
          </ul>
        </div>
      </div>

      <div class="inspiration-modal-color-box">
        <div class="inspiration-modal-color-box-sample orange"></div>
        <p class="inspiration-modal-color-box-title">Naranja</p>
        <div class="inspiration-modal-color-box-text-wrapper">
          <p>
            El naranja es el color de la diversión, la alegría; es decir todo aquello que constituya lo sociable. 
          </p>
          <p>
            Resulta un color llamativo, exótico y veraniego. Al generar iluminación y calidez,  crea un clima agradable en los espacios habitados. 
          </p>
          <p>
            ¿Que sentimiento nos genera?:
          </p>
          <ul class="inpiration-modal-color-box-list">
            <li>- Alegría</li>
            <li>- Diversión</li>
            <li>- Calidez</li>
            <li>- Sociabilidad</li>
          </ul>
        </div>
      </div>

      <div class="inspiration-modal-color-box">
        <div class="inspiration-modal-color-box-sample purple"></div>
        <p class="inspiration-modal-color-box-title">Violeta</p>
        <div class="inspiration-modal-color-box-text-wrapper">
          <p>
            El violeta es producto de la mezcla del azul y el rojo, es decir de la calma y la energía, lo frio y lo cálido; es decir en él se funden todos los opuestos, por ello genera sentimientos ambivalentes. Simboliza la fantasía, la magia;  el hacer posible lo imposible. 
          </p>
            ¿Que sentimiento nos genera?:
          <p>
          </p>
          <ul class="inpiration-modal-color-box-list">
            <li>- Fantasía</li>
            <li>- Espiritualidad</li>
            <li>- Ilusión</li>
          </ul>
        </div>
      </div>

      <div class="inspiration-modal-color-box">
        <div class="inspiration-modal-color-box-sample rose"></div>
        <p class="inspiration-modal-color-box-title">Rosa</p>
        <div class="inspiration-modal-color-box-text-wrapper">
          <p>
            El Rosa resulta de la mezcla del rojo y el blanco, goza de un carácter propio y genera sentimientos positivos. Al coincidir con el nombre de una flor, se le atribuyen sus correspondientes cualidades. Así, se destacan la sensibilidad, la cortesía y el encanto. No resulta un color asociado a la fuerza, sino que todo lo contrario, se encuentra ligado a la delicadeza. 
          </p>
          <p>
            ¿Que sentimiento nos genera?:
          </p>
          <ul class="inpiration-modal-color-box-list">
            <li>- Encanto</li>
            <li>- Cortesía</li>
            <li>- Sensibilidad</li>
          </ul>
        </div>
      </div>

      <div class="inspiration-modal-color-box">
        <div class="inspiration-modal-color-box-sample brown"></div>
        <p class="inspiration-modal-color-box-title">Marrón</p>
        <div class="inspiration-modal-color-box-text-wrapper">
          <p>
            El marrón se caracteriza por consistir en una entremezcla resultante de la combinación de múltiples posibilidades de colores. Así,  las mezcla de rojo y verde; violeta y amarillo; azul y naranja; rojo, amarillo y azul; etc;  dan marrón. Esta característica genera que el marrón armonice  con todos los colores. Representa lo natural, ya que coincide tanto con el color de la tierra y como con  importantes materiales naturales rústicos (madera, cuero y lana);  por lo que resulta ideal para decorar las viviendas en donde se busque percibir comodidad y conexión con la naturaleza.
          </p>
          <p>
            ¿Que sentimiento nos genera?:
          </p>
          <ul class="inpiration-modal-color-box-list">
            <li>- Comodidad</li>
            <li>- Estabilidad</li>
          </ul>
        </div>
      </div>

      <div class="inspiration-modal-color-box">
        <div class="inspiration-modal-color-box-sample gray"></div>
        <p class="inspiration-modal-color-box-title">Gris</p>
        <div class="inspiration-modal-color-box-text-wrapper">
          <p>
            El gris constituye un color sin fuerza, por ello simboliza lo neutro.  Esta neutralidad permite que pueda ser combinado con otros colores. Así, al combinarse con el azul y el blanco, inspira reflexión.
          </p>
          <p>
            ¿Que sentimiento nos genera?:
          </p>
          <ul class="inpiration-modal-color-box-list">
            <li>- Reflexión</li>
            <li>- Ciencia</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
