<div class="inpiration-modal-content">
  <h3 class="modal-content-title">¿Cómo elegir los colores para tu casa?</h3>

  <div class="inspiration-modal-content-section">
    <div class="modal-content-paragraph">
      <p class="inspiration-modal-content-text">
        Los colores reflejan tu personalidad, tu estado de ánimo, tus sentimientos... La elección incorrecta del color hará que tu casa pierda calidez y que no se destaquen sus rasgos distintivos.
      </p>
    </div>

    <div class="modal-content-paragraph">
      <p class="inspiration-modal-content-text">
        Sin embargo, si elegís correctamente los colores, podrás destacar tu casa, distinguir su arquitectura e incluso ocultar los defectos estructurales que puedan llegar  existir. Así, impulsaras el atractivo de tu inmueble y por consiguiente el valor de mercado.
      </p>
    </div>
  </div>

  <div class="inspiration-modal-content-section">
    <div class="inspiration-modal-subtitle-wrapper">
      <h4 class="inspiration-modal-subtitle">
        Sugerencias para elegir los colores adecuados
      </h4>
    </div>

    <div class="row">
      <div class="col-sm-6">
    <div class="modal-content-paragraph">
      <p class="inspiration-modal-content-subtitle">Inspirarse con la Naturaleza</p>
      <p class="inspiration-modal-content-text">
        El paisaje alrededor de tu casa te puede brindar ideas de qué color elegir. Por ejemplo, los árboles pueden sugerir  una gama de colores verdes y marrones; la playa podría invitar a azules intensos, turquesas y colores coral. Incluso el jardín de tu patio delantero puede inspirar combinaciones.
      </p>
      <div class="inspiracion-representacion naturaleza"></div>
    </div>
  </div>
    <div class="col-sm-6">
    <div class="modal-content-paragraph">
      <p class="inspiration-modal-content-subtitle">Los colores de las casas de tus vecinos</p>
      <p class="inspiration-modal-content-text">
        La casa de tus vecinos puede orientarte acerca de que colores elegir. No resulta necesario copiar exactamente la casa de tu vecino. Lo que te aconsejamos es seleccionar colores que destaquen tu casa, pero sin chocar con los edificios cercanos.
      </p>
      <div class="inspiracion-representacion vecinos"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="modal-content-paragraph">
      <p class="inspiration-modal-content-subtitle">El color del techo</p>
      <p class="inspiration-modal-content-text">
        ¿De qué color es tu techo? El color que elijas para tu casa no tiene por qué coincidir con el techo, pero debe armonizar.
      </p>
      <div class="inspiracion-representacion techo"></div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="modal-content-paragraph">
      <p class="inspiration-modal-content-subtitle">Luz para agrandar el tamaño de tu casa</p>
      <p class="inspiration-modal-content-text">
        Los colores claros hacen que tu casa se vea más grande. Así, podes “agrandar” el tamaño  de la misma, utilizando el blanco o colores pasteles.
      </p>
      <div class="inspiracion-representacion luz"></div>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-sm-6">
    <div class="modal-content-paragraph">
      <p class="inspiration-modal-content-subtitle">Colores oscuros para destacar detalles</p>
      <p class="inspiration-modal-content-text">
Los colores oscuros harán que tu casa parezca más pequeña, pero atraerán más atención a los detalles.      </p>
      <div class="inspiracion-representacion oscuros"></div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="modal-content-paragraph">
      <p class="inspiration-modal-content-subtitle">Los colores del interior de tu casa</p>
      <p class="inspiration-modal-content-text">
        Resulta impensado pintar todo el exterior  de una casa en base al color de algún mueble dentro de la misma. Sin embargo este enfoque no resulta alocado,  ya que el color de tus muebles servirá de guía para los colores interiores y a su vez los colores interiores inspiraran los que se puedan utilizar en el exterior. Armonizar, esa es la clave.
      </p>
      <div class="inspiracion-representacion interior"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="modal-content-paragraph">
      <p class="inspiration-modal-content-subtitle">Cantidad de colores</p>
      <p class="inspiration-modal-content-text">
        Al pintar tu casa, podes seleccionar entre 1, 2, 3 o hasta 5 colores -dependerá esencialmente del tamaño y características de la misma-. Pintar las paredes de un color, y las persianas, puertas, marcos de ventana, etc, de otro. Sin embargo, toma en consideración, que muchos colores pueden abrumarte visualmente, mientras que muy pocos pueden hacer que la casa no se destaque. Buscar el equilibrio.
      </p>
      <div class="inspiracion-representacion cantidad"></div>
    </div>
  </div>
<div class="col-sm-6">
    <div class="modal-content-paragraph">
      <p class="inspiration-modal-content-subtitle">Familias de colores</p>
      <p class="inspiration-modal-content-text">
        El contraste de colores llamará la atención de los detalles arquitectónicos de tu casa. Sin embargo, si existen contrastes extremos, los mismos se enfrentarán en detrimento de los detalles a destacar. Por ello,  es recomendable que consideres la selección de colores dentro de una sola familia, variando entre tonos más oscuros y tonos más claros.
      </p>
      <div class="inspiracion-representacion familias"></div>
    </div>
  </div>
  </div>
  </div>


</div>
