@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?l669i2');
  src:  url('fonts/icomoon.eot?l669i2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?l669i2') format('truetype'),
    url('fonts/icomoon.woff?l669i2') format('woff'),
    url('fonts/icomoon.svg?l669i2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-roller-brush:before {
  content: "\e912";
}
.icon-art:before {
  content: "\e913";
}
.icon-hygiene:before {
  content: "\e914";
}
.icon-paint-1:before {
  content: "\e915";
}
.icon-paint-2:before {
  content: "\e916";
}
.icon-paint-3:before {
  content: "\e917";
}
.icon-paint-roller-1:before {
  content: "\e918";
}
.icon-paint-roller:before {
  content: "\e919";
}
.icon-paint:before {
  content: "\e91a";
}
.icon-painting:before {
  content: "\e91b";
}
.icon-arrow-back:before {
  content: "\e911";
}
.icon-cross-modal:before {
  content: "\e90f";
}
.icon-arrow-down:before {
  content: "\e910";
}
.icon-uso:before {
  content: "\e900";
}
.icon-unselected:before {
  content: "\e901";
}
.icon-selected:before {
  content: "\e902";
}
.icon-secado:before {
  content: "\e903";
}
.icon-resistencia:before {
  content: "\e904";
}
.icon-rendimiento:before {
  content: "\e905";
}
.icon-productos:before {
  content: "\e906";
}
.icon-presentacion:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e908";
}
.icon-inspiracion:before {
  content: "\e909";
}
.icon-entonadores:before {
  content: "\e90a";
}
.icon-consejo:before {
  content: "\e90b";
}
.icon-calculadora:before {
  content: "\e90c";
}
.icon-arrow-right:before {
  content: "\e90d";
}
.icon-arrow-left:before {
  content: "\e90e";
}

